*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/* regole generali */

.container{
    width: 75%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 45px;
}

/* header */

header{
    height: 770px;
    background-color: #B4D0E7;
}

nav{
    background-color: white;
}

header nav ul li{
    display: inline-block;
    margin: 30px 20px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

/* jumbotron */

#jumbotron{
    width: 83%;
    height: 450px;
}

#jumbotron h1{
    font-size: 4.6em;
    width: 100%;
    margin: 60px 0;
}

.jumbocolonne{
    float: left;
}

#jumbotext{
    width: 40%;
    padding-right: 10%;
}
#jumbotext p{
    padding-bottom: 40px;
}

#jumbotron img{
    object-fit: cover;
    width: 60%;
}
#jumbotron .button{
    text-decoration: none;
}

#jumbotext div{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 50px;
}

#jumbotext i{
    color: black;
    font-size: xx-large;
}


/* sezioni principali */

/* sezione piano pagamenti */

#blocco-pagamenti{
    padding-top: 80px;
}

.piani-flottati{
    width: calc(90% / 3);
    float: left;
    border: 1px rgb(252, 214, 214) solid;
    height: 1000px;
    font-size: 15px;
    font-weight: lighter;
}
.spiegazionepiani{
    padding: 30px;

}
#pianoflotdx{
    margin-left: 0%;
}

#pianoflotsx,  #pianoflotcentro{
    margin-right: 5%;
}

 #pianoflotbasso{
     border: 1px black solid;
     margin-top: 20px;
     display: block;
     /* drbug */
     height: 130px;
 }

 #radio{
     margin: 40px 0;
 }

 #radioblue{
    border: 5px solid blue;
 }

 .radiobox{
     border: 1px solid rgb(124, 88, 94);
     border-radius: 50%;
     height: 20px;
     width: 20px;
     display: inline-block;
 }

.testoradio{
    margin-right: 20px;
}

.piani-flottati span{
    display: block;
    padding: 15px 0;

}

.piani-flottati span:first-child{
    border-bottom: 1px rgb(252, 214, 214) solid;
    text-align: center;
}
#blocco-pagamenti h2{
    margin-top: 100px;
}

.h3piani{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.buttonpagamenti{
    text-decoration: none;
}

.checkblue{
    color: #0061FF;
}

.linkblue{
    color: #0061FF;
}

.bordino{
    border: 1px solid rgb(252, 214, 214);
    width: 50px;
    margin: 25px 0;
}

/* piano pagamenti basso */

#pianoflotbasso{
    border: 1px rgb(252, 214, 214) solid;
    height: 230px;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 100px;
}

#pianoflotbasso div:first-child{
    padding: 20px 0;
    text-align: center;
}

#pianoflotbasso .spiegazionepiani{
    padding: 30px 30px;
}
#bordinopianobasso{
    border-bottom: 1px rgb(252, 214, 214) solid;
}

#h3pianobasso{
    display: inline-block;
}
#pianoflotbasso .buttonpagamenti{
    float: right;
}
#pianoflotbasso h4{
    margin-bottom: 25px;
}
/* sezione partner */

#partnersection{
    margin-top: 20px;
    /* debug */
    height: 600px;
}

#partnersection img{
object-fit: cover;
width: 60%;
padding-right: 20px;
}

#textpartner{
    float: right;
    width: 40%;
    line-height: 25px;
    padding: 30px 20px 0 20px;
}

#textpartner div{
    margin: 25px 0;
}

#textpartner .button{
    text-decoration: none;
}


/* <!-- sezione blocchi flottati in left --> */

#sectionblocchileft{
margin-top: 80px;
margin-bottom: 50px;
}

.bloccoleft{
    float: left;
    width: calc(100% / 3);
    padding: 30px 40px;
}

#sectionblocchileft h2{
    padding-bottom: 30px;
}

#sectionblocchileft div img{
    object-fit: contain;
    width: 100%;
    padding-bottom: 20px;
}

#sectionblocchileft h3{
    padding-bottom: 20px;
} 


/* sezione blocchi colorati */

#blocchicolorati{
    position: relative;
    background-color: #F5F5F5;
}

.square{
    width: 230px;
    height: 230px;
/* debug */
border: 2px solid red;
}

.squareleft{
    float: left;
}

.squareright{
    float: right;
}

#bloccocentrale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#designit{
    background-color: #A2D39B;
}

.bordato{
   border: 10px solid rgb(217, 230, 197); 
}

/* <!-- sezione prova gratuita con testo --> */

#prova-gratis{
    background-color: #B4D0E7;
    height: 300px;
}

/* sezione faq */

#faq{
    /* debug */
    height: 500px;
}

/* footer */

footer{
    background-color: black;
    height: 600px;
    color: white;
}

#grigliafooter section{
    float: left;
    width: 20%;
    padding-top: 30px;
}

/* bottoni */

.button{
    background-color: #0061FF;
    padding: 8px 15px;
    color: white;
}