*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/* regole generali */

.container{
    width: 68%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 45px;
}

/* header */

header{
    height: 800px;
    background-color: #B4D0E7;
}

nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 80px;
}

header nav ul li{
    display: inline-block;
    margin: 30px 20px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

/* jumbotron */

#jumbotron{
    padding-top:110px;
    width: 83%;
    height: 480px;
}

#jumbotron h1{
    font-size: 4.5em;
    width: 100%;
    margin: 60px 0;
}

.jumbocolonne{
    float: left;
}

#jumbotext{
    width: 40%;
    padding-right: 10%;
}
#jumbotext p{
    padding-bottom: 40px;
}

#jumbotron img{
    object-fit: cover;
    width: 60%;
}
#jumbotron .button{
    text-decoration: none;
}

#jumbotext div{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 50px;
}

#jumbotext i{
    color: black;
    font-size: xx-large;
}


/* sezioni principali */

/* sezione piano pagamenti */

#blocco-pagamenti{
    padding-top: 80px;
}

.piani-flottati{
    width: calc(90% / 3);
    float: left;
    border: 1px #ccc solid;
    font-size: 15px;
    font-weight: lighter;
    min-height: 380px;
}

.spiegazionepiani{
    padding: 30px;

}
#pianoflotdx{
    margin-left: 0%;
}

#pianoflotsx,  #pianoflotcentro{
    margin-right: 5%;
}

 #pianoflotbasso{
     border: 1px black solid;
     margin-top: 20px;
     display: block;
     /* drbug */
     height: 130px;
 }

 #radio{
     margin: 40px 0;
 }

 #radioblue{
    border: 5px solid blue;
 }

 .radiobox{
     border: 1px solid rgb(124, 88, 94);
     border-radius: 50%;
     height: 20px;
     width: 20px;
     display: inline-block;
 }

.testoradio{
    margin-right: 20px;
}

.piani-flottati span{
    display: block;
    padding: 15px 0;

}

.piani-flottati span:first-child{
    border-bottom: 1px #ccc solid;
    text-align: center;
}
#blocco-pagamenti h2{
    margin-top: 100px;
}

.h3piani{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.buttonpagamenti{
    text-decoration: none;
}

.checkblue{
    color: #0061FF;
}

.linkblue{
    color: #0061FF;
}

.bordino{
    border: 1px solid #ccc;
    width: 50px;
    margin: 25px 0;
}

/* piano pagamenti basso */

#pianoflotbasso{
    border: 1px #ccc solid;
    height: 230px;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 100px;
}

#pianoflotbasso div:first-child{
    padding: 20px 0;
    text-align: center;
}

#pianoflotbasso .spiegazionepiani{
    padding: 30px 30px;
}
#bordinopianobasso{
    border-bottom: 1px #ccc solid;
}

#h3pianobasso{
    display: inline-block;
}
#pianoflotbasso .buttonpagamenti{
    float: right;
}
#pianoflotbasso h4{
    margin-bottom: 25px;
}
/* sezione partner */

#partnersection{
    margin-top: 20px;
}

#partnersection img{
object-fit: cover;
width: 60%;
padding-right: 20px;
}

#textpartner{
    float: right;
    width: 40%;
    line-height: 25px;
    padding: 30px 20px 0 20px;
}

#textpartner div{
    margin: 25px 0;
}

#textpartner .button{
    text-decoration: none;
}


/* <!-- sezione blocchi flottati in left --> */

#sectionblocchileft{
margin-top: 130px;
margin-bottom: 50px;
}

.bloccoleft{
    float: left;
    width: calc(100% / 3);
    padding: 30px 50px 0 0;
}

#sectionblocchileft h2{
    padding-bottom: 30px;
}

#sectionblocchileft div img{
    object-fit: contain;
    width: 100%;
    padding-bottom: 20px;
}

#sectionblocchileft h3{
    padding-bottom: 20px;
}


/* sezione blocchi colorati */

/* titolo */

#team{
    width: 75%;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 50px;
    padding-right: 35%;
}

#team h2{
    margin-bottom: 30px;
}

#team a{
    color: #0061FF;
}

/* blocchi */
#blocchicolorati{
    background-color: #F5F5F5;
}


#blocco-right{
    float: right;
}

#blocco-left{
    float: left;
}


.square{
    width: 230px;
    height: 230px;
    position: relative;
}

.squareleft{
    float: left;
}

.squareright{
    float: right;
} 

.bordato{
   border: 10px solid rgb(217, 230, 197);
}

.blocchi-laterali div img{
    object-fit: contain;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#designit{
    background-color: #A2D39B;
}

#ASU{
    background-color: #61082B;
}

#Hearst{
    background-color: #B4D0E7;
}
#WBR{
    background-color: #D5001F;
}

#Clear{
    background-color: #FFD830;
}

#Lonely{
    background-color: #0D2481;
}

#UoF{
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

/* testo blocchi colorati */

#bloccocentrale {
    max-width: 550px;
    padding: 30px 50px 0 50px;
    vertical-align: middle;
    float: left;
}

#bloccocentrale img{
    width: 25%;
    padding-bottom: 20px;
}

#bloccocentrale p{
    padding: 20px 0 20px 0;
}


/* <!-- sezione prova gratuita con testo --> */

#prova-gratis{
    background-color: #B4D0E7;
    height: 350px;
}

#prova-gratis h2{
    float: left;
    width: 50%;
    margin-top: 140px;
    color: #61082B;
}

#prova-gratis a{
    text-decoration: none;
    float: right;
    margin-top: 140px;
    color: black;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

/* sezione faq */

#faq{
    margin-bottom: 150px;
}

#faq h3{
    font-size: 30px;   
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

#faq h4{
    /* width: 100%; */
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

#faq i{
    padding-left: 90%;
}



/* footer */

footer{
    background-color: black;
    height: 600px;
    color: white;
}

#grigliafooter section{
    float: left;
    width: 20%;
    padding-top: 100px;
    padding-bottom: 70px;
}

footer a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 20px;
    font-size: 15px;
}

footer h3 a{
    font-size: larger;
}

#bordo-footer{
border-bottom: 1px solid white;
}

#fondo-footer {
    margin-top: 40px;
    color: #ccc;
    font-size: 15px;
}
/* bottoni */

.button{
    background-color: #0061FF;
    padding: 8px 15px;
    color: white;
}

/* menù a tendina nav */
/* contatti */
.tendina:hover .link-tendina{
    display: block;
    position: absolute;
    z-index:100;
    padding: 20px;
    background: white;
    min-width: 160px;
}
.tendina:hover .link-tendina strong{
    margin-top: 10px;
}
.tendina:hover .link-tendina a{
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: small;
    text-align: left;
}

.link-tendina{
    display: none;
}


/* supporto */

/* accordion faq */

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 6em;
}

.accordion-item-content, .accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.accordion {
    padding: 0;
    margin: 0 auto;
}

.accordion .accordion-item {
  background-image: yellow;
  padding: 1em;
  color: black;
}
.accordion h4 {
    margin: 0;
  }